<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/blog1/" title="Blog1">Blog1</a></li>
      <li><a href="/blog2/" title="Blog2">Blog2</a></li>
    </ul>
  </nav>